<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>

</head>
<body>
	<div th:fragment="sidebar">
		<div class="row card-list text-center" style="margin-top: 0px;">
			<h2>Categories</h2>
			<div style="padding: 16px;">
				<ul class="list-inline">

					<th:block th:object="${category}"
						th:each="c : ${popularCategories}">
						<li  class="tag" style="padding: 4px"><small> <span class="glyphicon glyphicon-tag"></span><a class="tag"
								th:text="${c.name}"
								th:href="@{/category?id={id}(id=${c.id})}"></a>
						</small></li>
					</th:block>
				</ul>

				<hr class="hr-sidebar" />
				<a th:href="@{/categories}" style="color: green; padding: 8px">Browse all</a>
			</div>
		</div>
		<div class="row card-list text-center" style="margin-top: 15px;">
			<h2>Browse by</h2>
			<div style="padding: 32px;">
				<hr class="hr-sidebar" />
				<ul class="list-unstyled">
					<li><a th:href="@{/}">All books</a></li>
					<li><hr class="hr-sidebar" /></li>
					<li><a th:href="@{/categories}">Categories</a></li>
					<li><hr class="hr-sidebar" /></li>
					<li><a th:href="@{/authors}">Authors</a></li>
					<li><hr class="hr-sidebar" /></li>
					<li><a th:href="@{/publishers}">Publishers</a></li>
					<li><hr class="hr-sidebar" /></li>
				</ul>
			</div>
		</div>

		<div class="row card-list" style="margin-top: 15px;">
			<h2 class="text-center">Popular</h2>

			<div style="padding: 32px;">
				<hr class="hr-sidebar" />
				<th:block th:object="${book}" th:each="b : ${popularBooks}"
					class="row">
					<div class="media">
						<div class="media-left">
							<img class="media-object img-book-sidebar"
								th:src="@{/image/}+${b.image}" alt="..." />
						</div>
						<div class="media-body">

							<a th:href="@{/book?id={id}(id=${b.id})}"><h4
									class="media-heading" th:text="${b.name}"></h4></a>
							<h6>
								<p class="block-with-text text-muted" th:text="${b.addedDate}" />
							</h6>
						</div>

					</div>
					<hr class="hr-sidebar" />
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>