<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>NST 2 - Spring</title>
<th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="gray-bg">


			 <div th:replace="fragments/header :: header"></div>

	<div class="container">
	
		<div th:if="${authors!= null}">
			<br />
				<div class="col-md-8">
					<div class="col-md-12">
						<div class="row card">
				
					<th:block th:object="${author}" th:each="a : ${authors}">
					
							<a th:href="@{/author?id={id}(id=${a.id})}" th:text="|${a.firstName} ${a.lastName}|"></a>
						
						<hr/>
					</th:block>
							</div>
					</div>
				</div>
			</div>
				<div class="col-md-4">
				<div class="col-md-12">
					   <div th:replace="fragments/sidebar :: sidebar"></div>
				</div>
				</div>
			</div>
	
</body>
</html>