<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Book</title>
<th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="gray-bg">

	<div th:replace="fragments/header :: header"></div>


	<div class="container">
		<br />
		<div class="col-md-8">
			<div class="col-md-12">
				<div class="row card">
					<div th:if="${#httpServletRequest.remoteUser != null}">
						<ul class="list-inline">
							<li><a
								th:href="
						@{/editAuthor?id={id}(id=${author.id})}">
									<p>Edit</p>
							</a></li>
							<li><a
								th:href="@{/action/deleteAuthor?id={id}(id=${author.id})}">
									<p>Delete</p>
							</a></li>

						</ul>
					</div>

					<div class="media">
						<div class="media-left">
							<img class="media-object img-circle img-authors-big"
								th:src="@{/image/}+${author.image}" alt="..." />
						</div>
						<div class="media-body">

							<h2 class="media-heading"
								th:text="|${author.firstName} ${author.lastName}|"></h2>

							<p class="text-muted" th:text="${author.description}" />
						</div>
						<div class="text-center">
							<strong><a class="btn btn-success"
								th:href="${author.website}">Website</a></strong>
						</div>
					</div>

				</div>
				<div class="row card">
					<h2>Books by this author</h2>
					<hr />
					<th:block th:object="${book}" th:each="b : ${authorBooks}">
						<div class="media">
							<div class="media-left">
								<a th:href="@{/book?id={id}(id=${b.id})}"> <img
									class="media-object img-book" th:src="@{/image/}+${b.image}"
									alt="..." />
								</a>
							</div>
							<div class="media-body">

								<a th:href="@{/book?id={id}(id=${b.id})}"><h3
										class="media-heading" th:text="${b.name}"></h3></a>

								<ul class="list-inline">

									<th:block th:object="${category}"
										th:each="c : ${b.categoryList}">
										<li><small> <a class="text-muted"
												th:text="${c.name}"
												th:href="@{/category?id={id}(id=${c.id})}"></a>
										</small></li>
									</th:block>
								</ul>
								<ul class="list-inline">
									<th:block th:object="${author}" th:each="a : ${b.authorsList}">
										<li><small> <a class="text-muted"
												th:text="|${a.firstName}  ${a.lastName}|"
												th:href="@{/author?id={id}(id=${a.id})}"></a>
										</small></li>

									</th:block>
								</ul>
								<div>
									<p th:text="${b.shortDescription}" />
								</div>
							</div>
						</div>
						<hr />
					</th:block>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-12">
				<div th:replace="fragments/sidebar :: sidebar"></div>
			</div>
		</div>
	</div>
</body>
</html>