<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Book</title>
<th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="gray-bg">

	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<div>
			<br />
			<div class="row">
				<div class="col-md-8">
					<div class="col-md-12">
						<div class="row card">

							<form th:object="${book}" method="post">
								<div th:if="${#httpServletRequest.remoteUser != null}">
									<ul class="list-inline">
										<li><a th:href="@{/editBook?id={id}(id=${book.id})}">
												<p>Edit</p>
										</a></li>
										<li><a
											th:href="@{/action/deleteBook?id={id}(id=${book.id})}">
												<p>Delete</p>
										</a></li>

									</ul>
								</div>
								<div class="media">
									<div class="media-left">
										<img class="media-object img-book-big"
											th:src="@{/image/}+${book.image}"
											src="http://www.freetechbooks.com/uploads/1470411099-51DH3OaYl4L._SX331_BO1,204,203,200_.jpg"
											alt="..." />
									</div>
									<div class="media-body">
										<h2 class="media-heading" th:text="*{name}"></h2>
										<th:block th:object="${category}" th:each="c : ${categories}">

											<ul class="list-inline">
												<li><small> <a class="text-muted"
														th:text="${c.name}"
														th:href="@{/category?id={id}(id=${c.id})}"></a>
												</small></li>
											</ul>
										</th:block>
										<th:block th:object="${publisher}">
											<div th:if="${publisher != null}">
												<ul class="list-inline">
													<li><a class="text-muted" th:text="${publisher.name}"
														th:href="@{/publisher?id={id}(id=${publisher.id})}"></a></li>
												</ul>
											</div>
										</th:block>
										<div>
											<p class="lead" th:text="*{shortDescription}" />
										</div>
										<ul class="list-inline">
											<li><strong>Pages: </strong></li>
											<li><p th:text="*{pagesNumber}" /></li>
										</ul>
										<ul class="list-inline">
											<li><strong>Published: </strong></li>
											<li><p th:text="*{publishedDate}" /></li>
										</ul>
										<ul class="list-inline">
											<li><strong>Added date: </strong></li>
											<li><p th:text="*{addedDate}" /></li>
										</ul>
										<ul class="list-inline">
											<li><strong>Views: </strong></li>
											<li><p th:text="*{views}" /></li>
										</ul>



									</div>
									<div class="book-description">
										<br/>
										<strong>Description: </strong>
										<p class="text-muted" th:text="*{description}" />
									</div>
									<div class="text-center">
										<strong><a class="btn btn-success"
											th:href="*{downloadLink}"><span class="glyphicon glyphicon-download-alt"></span> Download</a></strong>
									</div>
								</div>


							</form>
						</div>
						<div class="row card">
							<h1>You might also like</h1>
							<hr />
							<th:block th:object="${book}" th:each="r : ${recommendBooks}">
								<div class="media">
									<div class="media-left">
										<a th:href="@{/book?id={id}(id=${r.id})}"> <img
											class="media-object img-author"
											th:src="@{/image/}+${r.image}" alt="..." /></a>
									</div>
									<div class="media-body">

										<a th:href="@{/book?id={id}(id=${r.id})}"><h3
												class="media-heading" th:text="${r.name}"></h3></a>
										<div>
											<p class="block-with-text" th:text="${r.shortDescription}" />
										</div>
									</div>
								</div>
								<hr />
							</th:block>

						</div>
						<div class="row card">
							<h1>Authors</h1>
							<hr />
							<th:block th:object="${author}" th:each="a : ${authors}">
								<div class="media">
									<div class="media-left">
										<a th:href="@{/author?id={id}(id=${a.id})}"> <img
											class="media-object img-circle img-authors"
											th:src="@{/image/}+${a.image}" alt="..." /></a>
									</div>
									<div class="media-body">
										<a th:href="@{/author?id={id}(id=${a.id})}">
											<h2 class="media-heading"
												th:text="|${a.firstName} ${a.lastName}|"></h2>
										</a>
										<p class="text-muted block-with-text text-muted"
											th:text="${a.description}" />
									</div>
								</div>
								<hr />
							</th:block>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="col-md-12">
						<div th:replace="fragments/sidebar :: sidebar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>