<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>NST 2 - Spring</title>
<th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="gray-bg">


	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<div th:if="${books != null}">
			<div class="col-md-8">
				<div class="col-md-12">
					<div class="row">
						<!--  <h3 th:text="${error}"></h3>-->

						<th:block th:object="${book}" th:each="b : ${searchBooks}">
							<div class="media card-list">
											<div class="media-left">
							<a th:href="@{/book?id={id}(id=${b.id})}">
								<img class="media-object img-book"
									th:src="@{/image/}+${b.image}"
									src="http://www.freetechbooks.com/uploads/1470411099-51DH3OaYl4L._SX331_BO1,204,203,200_.jpg"
									alt="..." /></a>
							</div>
								<div class="media-body" style="padding: 32px;">

									<a th:href="@{/book?id={id}(id=${b.id})}"><h3
											class="media-heading" th:text="${b.name}"></h3></a>

									<ul class="list-inline">
										<th:block th:object="${author}" th:each="a : ${b.authorsList}">
											<li><small> <a class="text-muted"
													th:text="|${a.firstName}  ${a.lastName}|"
													th:href="@{/author?id={id}(id=${a.id})}"></a>
											</small></li>

										</th:block>
									</ul>
									<div>
										<p class="block-with-text" th:text="${b.shortDescription}" />
									</div>
									<hr />

									<ul class="list-inline">

										<th:block th:object="${category}"
											th:each="c : ${b.categoryList}">
											<li><small> <a class="tag"
													th:text="'&bull; ' +${c.name}"
													th:href="@{/category?id={id}(id=${c.id})}"></a>
											</small></li>
										</th:block>
									</ul>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="col-md-12">
				<div th:replace="fragments/sidebar :: sidebar"></div>
			</div>
		</div>
	</div>

</body>
</html>